.root {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.rootnotMe {
  justify-content: flex-start;
  align-items: center;
}
.freeBox__kJeA {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 80%;
  background: #0d99ff;
  border-radius: 16px 16px 0px;
  padding: 8px;
  border: 1px solid transparent;
}
.freeBoxnotMe__kJeAp7DnS {
  background: #ffffff;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 0px;
  border-style: solid;
  border-color: #000000;
}
.text__kir72 {
  width: 100%;
  height: auto;
  opacity: 0.5;
  color: #ffffff;
  font-size: 12px;
  min-width: 0;
}
.textnotMe__kir72P7DnS {
  color: #000000;
}
.freeBox__bs8P {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__icPsB {
  width: auto;
  height: auto;
  color: #ffffff;
}
.textnotMe__icPsBp7DnS {
  color: #000000;
}
